div {
  height: 100px;
  width: 100px;
  background-color: gold;
  border: 2px solid black;
  position: absolute;
  top: 250px;
  left: 500px;
  /* transition: all;
  transition-duration: 2s; */
  transition: all 2s ease-in-out 0.2s;
  /* transform: rotate x 90deg; */
  /* rotate: x 25deg;
  rotate: y 25deg; */
  /* transform: scale(2, 1); */
  @keyframe myName {
    from {
      font-size: 20px;
    }
    to {
      font-size: 40px;
    }
  }
}
div:hover {
  background-color: red;
  color: white;
  font-size: large;
  /* rotate: 90deg ; */
  /* transform: skew(60deg); */
}

div:active {
  background-color: blueviolet;
  font-size: small;
  font-family: "Courier New", Courier, monospace;
}
